.table-container {
    position: relative;
    width: 85vw;
    height: 62vh;
    margin: 0 auto;
    overflow: scroll;
    scroll-behavior: smooth;
    transition: all 0.2s ease;
}

.table-container::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 15px;
}

.table-container::-webkit-scrollbar-thumb:horizontal {
    width: 100vw;
    border-radius: 8px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.2);
}
  
.table-container::-webkit-scrollbar-track-piece:end {
    margin-right: 7.5vw;
}
  
.table-container::-webkit-scrollbar-track-piece:start {
    margin-left: 7.5vw;
}

table {
    width: 100%;
    margin: 40px auto;
    color: #5a5a5a;
    border-collapse: collapse;
    overflow: auto;
    white-space: nowrap;
}

thead tr {
    background-color: #fafafa;
    height: 60px;
}

tr {
    height: 80px;
}

table tr:nth-of-type(odd) {
    background-color: #fafafa;
}

table tr:nth-of-type(even) {
   border: 1px solid aliceblue;
}

td {
    min-width: 20vw;
}

td img {
    width: 70px;
    max-width: 60%;
    border-radius: 50%;
}

.group-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    height: 70px;
    background-color: aliceblue !important;
    border: 2px solid lightblue;
    width: 20vw;
    min-width: fit-content;
}

@media screen and (min-width: 800px) {
    .table-container {
        height: max-content;
    }

    td,
    .group-title {
        width: revert;
        min-width: revert;
    }

    td img {
        width: 120px;
        max-width: 30%;
    }
}

tbody {
    border-bottom: 3px solid aliceblue;
}